body {background-color: #fa351d}
.poutine{
width: 20%;
border: 5px solid yellow
}

.maple{
  width: 20%;
  border: 5px solid yellow
}

.bagel{
  width: 20%;
  border: 5px solid yellow
}

.meat{
  width: 20%;
  border: 5px solid yellow
}

.bannock{
  width: 20%;
  border: 5px solid yellow
}
